*{
	font-family: "Courier New", monospace;
	font-size: 20px;
	/*CSS Reset*/

	margin: 0;
	padding: 0;
}

h2{
	color: black !important;
	text-align: center;
	font-size: 2rem;
	/*measurement which means num multiply the default size of the root elements which is 16px*/	
}

/*id- selector it is given more priority than other selector*/
#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*class selector for elements of the same classes*/
.offering-item {
	text-transform: uppercase;
}

input{
	border-width: 2px;
	border-style: solid;
	border-color: #071bf7;
	width: 90%;
}

body{
	background-color: honeydew;
}

nav{
	background-color: white;
}

section{
	/*height: 100vh;
	/*takes the precentage of overall height of the screen you are viewing*/
	text-align: center;
}

#bll li{
	color: #075966;
}

a{
	text-decoration: none;
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 210px;
	width: 25vw;
	position: relative;
	left: 37%;
	
}

section > form > label{
	color: rgb(0, 0, 128);
}


/*Mini activity

	- Style our button with the following specifications: 
		the text of the button should be white
		the background color should be */


section > form > button{
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
}