*{
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1{
	font-size: 3rem;
}

#h2tag{
	text-transform: uppercase;
}

.lang{
	background: #07f70b;
}

.tools{
	border-width: 2px;
	border-style: solid;
	border-color: #071bf7;
	width: 90%;
}

ul{
	list-style: none;
}

section img{
	height: 20vh;
	width: 20vw;
	border-radius: 150px;
}

h2~ ol{
	text-align: center;
	list-style: none;
}

section>h2{
	letter-spacing: 10px;
}

input{
	border-width: 2px;
	border-style: solid;
	border-color: hotpink;
	
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 25vh;
	width: 25vw;
	position: relative;
	left: 37%;
	
}

section > form > button{
	color: hotpink;
	background-color: lightblue;
	border: 0;
	border-radius: 15px;
}
